// TODO
.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo {
  margin: 5rem 0 3.5rem;
}

.postInfo {
  color: var(--gray-700);
  font-size: 0.875rem;
  font-weight: 400;

  span {
    margin-left: 1.5rem;

    &.lastEdit {
      display: block;
      margin: 1.125rem 0 0;
      font-style: italic;
    }
  }

  svg {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.625rem;
  }
}

.loading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--pink-500);
}
